## Part 0

### Setup a Docker image: install a Data Manipulation framework (PySpark or Pandas or any other that will help answer the challenge) and anything else you need. Include the Dockerfile in the submission.

In [142]:
import csv 
import json
import os 
import pandas as pd 
import sys 
from itertools import chain

## Part I

#### Mapping of credit_card_vendor to list of card prefix

In [143]:
# prefix_vendor = list of credit first digits that are representing this vendor.
maestro = ['5018', '5020', '5038', '56']
mastercard = ['51', '52', '54', '55', '222']
visa = ['4']
amex = ['34', '37']
discover = ['6011', '65']
diners = ['300', '301', '304', '305', '36', '38']
jcb16 = ['35']
jcb15 = ['2131', '1800']

In [144]:
# Make dictionary of vendors 
vendors = {'maestro' : maestro,
           'mastercard' : mastercard,
           'visa' : visa,
           'amex' : amex,
           'discover' : discover,
           'diners' : diners,
           'jcb16' : jcb16,
           'jcb15' : jcb15}

In [145]:
# vendors

In [146]:
# Map all credit first digits to the vendor to a flattened list 
credit_cards = maestro + mastercard + visa + amex + discover + diners + jcb16 + jcb15

In [176]:
credit_cards

['5018',
 '5020',
 '5038',
 '56',
 '51',
 '52',
 '54',
 '55',
 '222',
 '4',
 '34',
 '37',
 '6011',
 '65',
 '300',
 '301',
 '304',
 '305',
 '36',
 '38',
 '35',
 '2131',
 '1800']

### Import, load, and return the fraud file

In [148]:
fraud_file = ('datasets/fraud')

In [149]:
def get_fraud_file(file):
    '''
    NEED TO ADD DOCSTRING
    TAKES IN A FILE, PARSES OUT RELEVANT CC INFO
    RETURNS LIST OF CREDIT CARD NUMBERS
    '''
    with open(file) as f:
        # Remember, not every row has a 'state' value
        # Only a few rows do
        # From this file we mainly care about the credit card number
        fraud_data = csv.reader(f)
        for index, row in enumerate(fraud_data):
            if len(row) > 2:
                state = row[2]# row[2] State (not always there)
            else:
                # Insert NULL for state
                state = None
            fraud_dataset = [x[0] for x in fraud_data]
    
    return fraud_dataset

In [150]:
fraud_dataset = get_fraud_file(fraud_file)
fraud_dataset

['4013901026491',
 '345936465222676',
 '4829769584081989',
 '30340825930914',
 '4302964471893676356',
 '4897487775841494',
 '3504134000927360',
 '343568314271448',
 '36795457706136',
 '213105387849185',
 '4158823194013915',
 '3557121809488039',
 '4411710233936193',
 '3593952520772269',
 '562632689286',
 '675979363636',
 '3506507615619043',
 '3560888773289883',
 '5128258542512744',
 '4673436419900968',
 '6011531195808785',
 '3518829214836604',
 '676342610232',
 '503886101024',
 '346979098869785',
 '213175362057328',
 '36828949701611',
 '6011712584028793',
 '4408482692580798',
 '4716466790794127',
 '4581622575175591',
 '4534971465733250',
 '348623602717035',
 '3562843917409457',
 '3503861795779124',
 '3548979454205467',
 '4562223449118630453',
 '5160813237111985',
 '3500558499395149',
 '4130253854633',
 '3560320084927241',
 '213172153235353',
 '343924572576715',
 '4183170112593',
 '213151645209580',
 '5579434556811330',
 '4912298956727635308',
 '5178628606737917',
 '4614910245590',
 '3567595471763241',
 '581434804307',
 '676278783995',
 '6011308941262553',
 '4803111518869',
 '4056785570190661',
 '4719240023513984818',
 '3546938096541350',
 '374842621893083',
 '4116594392698',
 '4038573268080805',
 '6580006132616584',
 '371634650288795',
 '2227817049707458',
 '3520138914497238',
 '3518444962093224',
 '3598557921742186',
 '4421146829225',
 '4208554991109644',
 '4799625704557595',
 '6011160352284232',
 '4700156414836374',
 '4459810579615774',
 '4044113076213421',
 '6596410482388111',
 '4362638777107138',
 '373556013088190',
 '3511998550032230',
 '4742096781457295841',
 '345000637514732',
 '6011489083585199',
 '30244127721882',
 '30114145301019',
 '4570377468093400',
 '372703573776886',
 '3516032131723490',
 '3526603637514712',
 '3565781843147246',
 '30500949722063',
 '501800338383',
 '180030992825157',
 '4529665921321971712',
 '639050730022',
 '4010008657087',
 '4293333553305965',
 '3576590732570849',
 '578973727782',
 '4868065204659',
 '180054253203664',
 '4126625571214142',
 '3546878557954074',
 '3538923402139800',
 '30280543327342',
 '3541975052577163',
 '4144399193545363164',
 '2226084142064532',
 '213193287574905',
 '180088230926336',
 '345199805774514',
 '6570567145598285',
 '349632356729673',
 '4381627452188',
 '4151518408578810761',
 '6011426741771902',
 '213147677484802',
 '371632748979250',
 '5210375281832551',
 '4910573354669647772',
 '4139513994385696',
 '30584416701537',
 '4539809483205874',
 '3596597574425558',
 '4408213877020270',
 '6011058110540533',
 '4115655462383071',
 '6011386398545399',
 '213166107464259',
 '4937308091940',
 '3513533468094739',
 '30489886565083',
 '3521034668612842',
 '5539245187631866',
 '4944522079263',
 '3538190518157825',
 '4656188411555362',
 '180035573664370',
 '4665073657476771',
 '30116013715808',
 '3502926394149432',
 '6011350750616016',
 '4850215035047585',
 '4232484324939',
 '30435713009027',
 '213181946502136',
 '4413208763699',
 '4186212661717',
 '3531496905139582',
 '4427343872678488',
 '4389674988690504',
 '3532317145326947',
 '3532962355085947',
 '180021148313529',
 '377129347162341',
 '502023188134',
 '4596693535430',
 '6538776060891481',
 '4541608622723391',
 '343176437548351',
 '377156774483908',
 '4925168909273897',
 '3585503251291258',
 '3522127061966226',
 '4769801618517100',
 '3531414444097393',
 '4284239545300835207',
 '4094061653035619',
 '4630831845094',
 '3505613450007434',
 '3516912180608090',
 '4178389948617571147',
 '5396602059989842',
 '180028673107838',
 '30120255561581',
 '4058408441354',
 '3511786836038448',
 '4930959472413008',
 '374861476715456',
 '36009506735249',
 '562967013540',
 '4163130882045479',
 '4076268793196456',
 '4588760708939009278',
 '3534727959568632',
 '3549783489788490',
 '4966518200293871',
 '180020335013595',
 '3530954474514065',
 '30160248855989',
 '30562535223120',
 '4823745482997019',
 '213193151915994',
 '4928056711159650',
 '4821422395234574159',
 '6011689656971755',
 '3539406491871862',
 '4844694166910069',
 '6591992992824599',
 '4978758255653736352',
 '6572813114122758',
 '4006394569480265',
 '3579151393150764',
 '4571959256955',
 '3597720826189819',
 '4819138948402109171',
 '6011899452855058',
 '342133435932914',
 '342805462817130',
 '4699073696218',
 '30367284178057',
 '4869412586662473648',
 '180005294030110',
 '4403195871837',
 '3537099877678837',
 '3587865768931827',
 '4527263830778585',
 '6011023122313485',
 '4776107663295872350',
 '4765021432418385',
 '4217285126575',
 '213178281129947',
 '3590261425749577',
 '6529396506195404',
 '6011526894758075',
 '3579796199331289',
 '6011572685189153',
 '4555470026417473',
 '4177037530484',
 '6595456156817175',
 '501874943712',
 '6554790511449921',
 '4590191305527397',
 '344889303653746',
 '6510362258157670',
 '3544494559253473',
 '6522747284841063',
 '6547154157863723',
 '4329956759724742',
 '374694251631923',
 '4478118901095758308',
 '4095450706509373075',
 '4448028536515318',
 '6549066483187759',
 '341636881479330',
 '4375686928948',
 '4398301266721343',
 '4655894952634657074',
 '3561022030202005',
 '6011500703917768',
 '4041993886662',
 '4250298406037888754',
 '377281132991721',
 '5389316115400087',
 '2225188472081924',
 '503890837829',
 '6011157156719025',
 '4563992783910762628',
 '4906178520656886',
 '180082128790029',
 '3580912246333890',
 '3582560476376234',
 '3527139580875262',
 '4293321666098',
 '3559805545246747',
 '3552791449440213',
 '4507411364599',
 '6576717777676974',
 '4092205810127939781',
 '38166629293452',
 '4384786301393775',
 '4088318770258955',
 '4616331192708920',
 '4016594753882436',
 '4380261684966047',
 '3507284819440399',
 '3547732529790497',
 '2223774872346686',
 '3527365213212553',
 '3503533586635050',
 '4332300430806666',
 '580195485108',
 '3507648457495529',
 '180023157201157',
 '060453469953',
 '378108055114255',
 '30063217923988',
 '4348484542882659233',
 '676360372368',
 '4274748851380',
 '342651154030263',
 '3533480076994874',
 '3576175579463157',
 '344058649441394',
 '4098210675480008',
 '4809499651131',
 '213136947204884',
 '213132091954788',
 '4489918995252066',
 '4343230815904',
 '4285442515096462706',
 '36259643900467',
 '213119287388269',
 '4178342142138526576',
 '5387055300668130',
 '6559061548512999',
 '4429352264433',
 '3526828789230763',
 '5550780532832029',
 '5258411507616099',
 '213158808344286',
 '675973479479',
 '4653054095764659',
 '4859941390051',
 '2222085849303135',
 '30457415048277',
 '4141193211204874273',
 '4953438747155687001',
 '6589202299335966',
 '6582792461927175',
 '4846803511972561',
 '3515589719687885',
 '3577981417939046',
 '30134728978546',
 '4205389655576157',
 '3506109871750099',
 '4534405658465339',
 '4192251355347740',
 '213122632349127',
 '4322027925753',
 '213179649195117',
 '5303739541595340',
 '6011736010981903',
 '3590057651070419',
 '4555296834543261',
 '4395196300255',
 '4852306383341007756',
 '371239406239892',
 '6011504772738501',
 '213169186937807',
 '6567720110872087',
 '4046989439464628951',
 '4867540427726328958',
 '6520032744110496',
 '6580986100460935',
 '3556619377595474',
 '5248021077975651',
 '3568956659321526',
 '5208509534464069',
 '6011767998834863',
 '4108688428728',
 '3546214312608344',
 '3592343706787969',
 '4825014995075815',
 '375679982482034',
 '4241601990732133815',
 '4531862929698747',
 '36262017245030',
 '6011458084892292',
 '3548306258964448',
 '4730161853526',
 '180033410570660',
 '4647705899012889',
 '4399377371224190',
 '5132601426981226',
 '30307635677753',
 '4335818074220776',
 '4837910899531306',
 '180071561051163',
 '4579265808358396',
 '4931358891881938',
 '180096639591254',
 '586786748697',
 '4568388312657401',
 '377315657666522',
 '4527904095569587483',
 '30290528073522',
 '6522816129056045',
 '6514463592184333',
 '6551750528321565',
 '583147621614',
 '4532037215660',
 '503839415448',
 '3504736821597915',
 '5270664907842277',
 '30552390110785',
 '577781453896',
 '4360411414923784409',
 '30205325591443',
 '060482674565',
 '6550659024138715',
 '3559338850903017',
 '6578696123556775',
 '3546603170040857',
 '4969844100936279',
 '3552303953711714',
 '3512924673363400',
 '4124594653879',
 '4594001732946852',
 '213192187232036',
 '4650007378182216',
 '4987422516785181594',
 '5286863612571914',
 '3525790474865868',
 '3534704418651671',
 '4037144996293',
 '3529420987680234',
 '4671907431696968',
 '3571558980787212',
 '3581622374599860',
 '4680641015479782938',
 '4551573524105666',
 '6575301562406292',
 '30515461596323',
 '675963218283',
 '501850561371',
 '3551103943547983',
 '30150493013467',
 '060489991095',
 '676139121237',
 '3541695145894801',
 '345547388845178',
 '3568876691070065',
 '3564154872129652',
 '501828270980',
 '4248599841868628',
 '3543930630274963',
 '345585903149296',
 '4203309225999685586',
 '6540125428016439',
 '36017999198163',
 '3520645256522068',
 '3529905138112244',
 '4588014314991',
 '630437818994',
 '501861632104',
 '3571422908574444',
 '3567142533491030',
 '345091382622861',
 '3549871732958893',
 '30161339487997',
 '5124250441577245',
 '30156365252901',
 '3514625942616514',
 '6570699003024482',
 '4476773503175217',
 '4405738548659190',
 '630406261762',
 '30242841896410',
 '4668721734366',
 '4097798851262357191',
 '3518735270530090',
 '4190232768274475059',
 '571333000164',
 '4820124269414551',
 '4956334792826',
 '3564089644940962',
 '6011790903600195',
 '4672472795822147',
 '4563306846557488',
 '4203314820198',
 '4629672634831',
 '372228188856428',
 '4807268160223452346',
 '371193361812351',
 '4614458261813315',
 '30256657638583',
 '4809131239279',
 '3516724626999961',
 '3551201279158431',
 '3569121230395015',
 '3585094464142140',
 '4323193340267017423',
 '5373888900797958',
 '3556661183764456',
 '630495494837',
 '4520880887148482',
 '38746445811882',
 '345413759941296',
 '3570929358578346',
 '6011264377358219',
 '213189380304026',
 '3588056240973285',
 '4500516722601236',
 '3578635190536598',
 '180098561722006',
 '213162618683750',
 '3547041378172058',
 '38409244675269',
 '4940901582909762',
 '4802323868520141735',
 '340917327719260',
 '501816487422',
 '341607965216070',
 '180074577268300',
 '4497700806870761654',
 '5409418981314784',
 '4905559176835',
 '676398658226',
 '3562344159303946',
 '180040366778320',
 '5478679271353875',
 '30384220426201',
 '375628978086960',
 '6011875969654234',
 '5427115866775737',
 '4362913667262958',
 '4551492196382484870',
 '4434254291398106',
 '5139379755457059',
 '180021266317211',
 '4322987592383589592',
 '502085467806',
 '4469079495291999',
 '4863786114925406064',
 '3548655455643183',
 '3524172413498666',
 '5153852063056889',
 '676200279021',
 '4600449979342473995',
 '3504202460863902',
 '30438422309886',
 '503878955478',
 '4685804482446616718',
 '3500839564727154',
 '30527459441735',
 '5279301941470630',
 '213193317926935',
 '5452398729026518',
 '4060101563732',
 '213194440516106',
 '4065179426318123',
 '180082523290179',
 '341651478911421',
 '6011572753273988',
 '4429668463076942',
 '588953437146',
 '3538134747809897',
 '4378225690618581',
 '4284109662377892',
 '38299115616827',
 '30578938488847',
 '4292092544570997408',
 '3509806331398834',
 '3519406527529819',
 '344701026781151',
 '30180650040581',
 '6011920112656122',
 '36948273077758',
 '30350326084939',
 '5429327429711715',
 '38071534783227',
 '6519101893636933',
 '213148342578119',
 '4043415227918977',
 '4448669338557',
 '30336135517961',
 '5236360931015823',
 '30524328946739',
 '213169641305244',
 '4883884529525991539',
 '371986426613643',
 '502016116621',
 '3538390286519202',
 '38156810166948',
 '6011375004263612',
 '4756154177797',
 '4317953360035935',
 '4460533466039299',
 '4285687183905852',
 '4522461943423199',
 '30038784379772',
 '6011561090393682',
 '4647652771084',
 '4856744926891',
 '2225333377057377',
 '3545083607269570',
 '3502991789849640',
 '676232949203',
 '3572464087899456',
 '4861802498079572',
 '3567629111825688',
 '3502739308956184',
 '4022748728994534',
 '6011307561444269',
 '346781454558873',
 '3584191786301593',
 '4582435506970',
 '372716808732698',
 '349703788753738',
 '370194187169142',
 '5267458566543994',
 '4983662774732036',
 '3575558114859834',
 '340947870219962',
 '579841271433',
 '5216478796251855',
 '342856864622800',
 '4555047489377798',
 '4349843947240698',
 '676285311855',
 '5497677376437046',
 '4771119080891978',
 '3579629603254518',
 '675959604439',
 '213149472269610',
 '4746609301774542',
 '30249038257975',
 '3563933800432333',
 '376637232357462',
 '4217856109845699503',
 '342593084199893',
 '3525172816856600',
 '4445341964269776',
 '4053438941465',
 '675969707149',
 '30498794961524',
 '4073316810061',
 '4992642166403',
 '4835720774087',
 '676239556290',
 '4067976934864',
 '3517447863612605',
 '3574330835574832',
 '5261430508741057',
 '3520009484491556',
 '6535793722667194',
 '4811704878749',
 '30563169845667',
 '4318702866718',
 '4700906346979192351',
 '4017178612545795344',
 '4721579708253',
 '561086902542',
 '4617691490114803897',
 '6011667615551181',
 '586486879222',
 '588086417890',
 '4662536721189',
 '36148919719935',
 '379171827964596',
 '3597676990875866',
 '2225316038319138',
 '5180318608888480',
 '676250690101',
 '3502465460874243',
 '4326373214480295',
 '4750782215418',
 '3548421003003960',
 '6543947896668657',
 '30294422416399',
 '5442171391165754',
 '3500716118331537',
 '639078509523',
 '2226922747975703',
 '180065834621877',
 '180047695307200',
 '4199146745143507',
 '6566559038150973',
 '213165321319083',
 '6011502819810549',
 '4644849549273519720',
 '3545465838559152',
 '4222194027186951',
 '30087131625320',
 '4620886536422293137',
 '4877706632637231',
 '4454425521189',
 '4844289639628818',
 '5317732628087194',
 '5396983184115481',
 '4074129398175471',
 '4236962153640882',
 '4727908339234658',
 '6568979067626016',
 '630407606429',
 '4018522057074499',
 '30155919162863',
 '503814279322',
 '4365582999510967',
 '6589990007743980',
 '3595234263432551',
 '5200510219704967',
 '30304014225700',
 '4535758702421206',
 '4212644377233',
 '566106894223',
 '586392081343',
 '581866093148',
 '349083128675275',
 '3547290300268506',
 '3539909253941476',
 '6011515416148089',
 '3541413212050343',
 '180068899258965',
 '4018404701973980',
 '3528882787508603',
 '6521501483721670',
 '501885879079',
 '587691469569',
 '30321068407968',
 '6011581128634121',
 '30096301269561',
 '4404886076381413',
 '213137872693018',
 '345511573344488',
 '6011935018895830',
 '4719231387516138594',
 '3539442623894407',
 '180095831311628',
 '3541220069478372',
 '3566914731855310',
 '4425968512611695536',
 '3506207194366385',
 '213185725040069',
 '4757254132875089',
 '4599479021848705',
 '4704210395854939405',
 '180072248473374',
 '4523805393565',
 '4221863321175385529',
 '5298458126478940',
 '4858992522645111',
 '4672629679451608388',
 '3525919072529234',
 '343746424559866',
 '4144680005362',
 '4562080973498409',
 '5288021300023643',
 '6011193961708440',
 '4339409134763795806',
 '3531200281054575',
 '4578767598017612',
 '4537229096691414',
 '4162537250236441744',
 '4696982202495423126',
 '5494738054931271',
 '4216954702870734',
 '501839380166',
 '6501197043821151',
 '30398380725293',
 '4515170574494865182',
 '3506979434790521',
 '4892827448198',
 '4056532406910411',
 '6501970286233957',
 '3561188771187075',
 '4080776002485',
 '3554556369113878',
 '180014378256518',
 '3506361510461063',
 '3501065720408930',
 '372713994603965',
 '4040591901779530',
 '4052038825455270564',
 '6508226835147377',
 '5289620621301379',
 '4978709350688558',
 '343828458579794',
 '4585593353522724',
 '4252612540950499',
 '4656861373932684',
 '4965140888868',
 '340445909356434',
 '4220757903136514',
 '180018413280052',
 '4055875204455',
 '6011135693741041',
 '3536105697055360',
 '348995365802661',
 '4088116450471022946',
 '4192864972477',
 '3563372558080277',
 '5511948860931469',
 '340561706115037',
 '5170022442641715',
 '6572539585004031',
 '30592302749247',
 '379752898478820',
 '5159891892008483',
 '5438885772990755',
 '676320024133',
 '349452095625565',
 '676358146493',
 '30332589966812',
 '5539099824203567',
 '180085468897148',
 '3593720746435932',
 '6011461042902971',
 '639093583842',
 '348411372309039',
 '3557831970566500',
 '343395845493717',
 '4240768706936725',
 '4180460853197943864',
 '3500758339144919',
 '6585436935789996',
 '373072197453671',
 '4700953964527076',
 '4981262851071',
 '6539849201479554',
 '4540242707668551',
 '379662798373627',
 '4262202262817038395',
 '4230927296860511',
 '347146061179845',
 '4376888961852494',
 '3529249367239778',
 '213177141061662',
 '4738635052070',
 '4226496600568895804',
 '30138866176383',
 '2228971662130784',
 '4373288813848217',
 '30236735376836',
 '4426148713293',
 '3583210051337149',
 '376082844237556',
 '180028030960614',
 '4974161674579',
 '6519869142686715',
 '3581822946805072',
 '3501488345906494',
 '4651152926604060',
 '4850051179897',
 '4671555398663032',
 '213174744193232',
 '3561203292056772',
 '4221132609522856381',
 '567918822295',
 '30254614291133',
 '30081511376802',
 '4501829685978957',
 '4756162265840690',
 '345671644006597',
 '4574250997288496007',
 '4108113038622951128',
 '30349149221595',
 '4054839288877069',
 '570901798647',
 '30018781317090',
 '5299906187815466',
 '6011296002697520',
 '4597181321573791',
 '3506064034975671',
 '180000610330286',
 '3582958397652628',
 '30119365363524',
 '342013438973158',
 '180058972903231',
 '6528847584841294',
 '30133791021143',
 '341908332107731',
 '4115108648172596',
 '340313382105993',
 '4674762905129740',
 '3535168828139157',
 '639020533381',
 '6011138230911580',
 '379403203997589',
 '4140324596504329042',
 '30263494791989',
 '30405225221733',
 '6584056083895097',
 '4243874036258090',
 '213185124264021',
 '4251235670850414147',
 '3531844529452453',
 '180082000697532',
 '6533344450464446',
 '3502927294937512',
 '4415134655679744728',
 '213133394174207',
 '30360252904695',
 '3509463446237463',
 '6533109820619031',
 '3507138300081817',
 '375020386533876',
 '213171886266099',
 '3512850436698214',
 '4803692825931',
 '4489926398695',
 '3587532902595146',
 '4497523037123620',
 '4744104113385',
 '6504864246413030',
 '3567194709233357',
 '6543467368071850',
 '4048384308463375',
 '4900503824110403',
 '3506972007123428',
 '346689461731237',
 '3517576641666317',
 '213193190685616',
 '3548460339300732',
 '4776091724331478',
 '4868867918749750',
 '3570619490512457',
 '4426666168923908',
 '213140867521889',
 '3568455389111398',
 '372284906612155',
 '676302914558',
 '4389965073832625',
 '4646135027676',
 '3547049146935797',
 '4040161586376109',
 '213173546228238',
 '4433405787275',
 '4812611925392007',
 '3519666727519999',
 '376622670738316',
 '3560245231713634',
 '5315239958347976',
 '3548906354399165',
 '502097025907',
 '4218208970493580',
 '4482969162182385',
 '4967729907152253250',
 '6011750736545116',
 '2223533300968515',
 '4181735768635419417',
 '372236776684698',
 '5343958842207189',
 '5221958424196229',
 '4964375378513',
 '3535330764601257',
 '4947465228782531',
 '4021715623079411671',
 '180059500141765',
 '180081342476951',
 '6011868659835569',
 '4555889628792332',
 '4255877960308',
 '6011152891642624',
 '30483192965590',
 '571805763612',
 '5138893634346649',
 '180096221956626',
 '4352847051568319',
 '4156236120163880',
 '4335132217063303',
 '30275738387523',
 '4843885967481760',
 '675983756437',
 '4839137659081714',
 '3569547809929372',
 '5154800120656455',
 '4585897779262496',
 '6537922968244321',
 '38007278995015',
 '675960430485',
 '4409934630806',
 '30509314398169',
 '4859602944048039',
 '378526921278477',
 '4188701077310387815',
 '565151350008',
 '4566120041407564',
 '4922224936398747366',
 '3574897152045166',
 '6530987664720269',
 '6536356246739052',
 '4905883744632016',
 '4058412289021',
 '4136653934740011687',
 '4951947363560',
 '5207323195816489',
 '5356633734903864',
 '6011388824181476',
 '345803815204558',
 '4686856271111',
 '374436146233832',
 '3556905554978710',
 '3501689059137081',
 '180055675647768',
 '4320118901667001',
 '180077624493722',
 '376276015218896',
 '676146674632',
 '348497645398255',
 '30382731470064',
 '6573463130538089',
 '342120172625538',

In [151]:
len(fraud_dataset)

1011

# Part I

### Sanitize data of both transaction-001.zip and transaction-002.zip by removing transactions where column `credit_card_number` is not part of the previous provided list. For example, a credit card that starts with `98` is not a valid card and should be discarded from the sanitized dataset.

In [152]:
file_list=['datasets/transaction-001','datasets/transaction-002']

In [153]:
def load_transaction_files(file_list):
    main_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))
    for i in range(1,len(file_list)):
        data = pd.read_csv(file_list[i])
        df = pd.DataFrame(data)
        main_dataframe = pd.concat([main_dataframe,df],axis=0)
    transaction_files = main_dataframe.reset_index(drop=True)
    return transaction_files

In [154]:
transaction_files = load_transaction_files(file_list)
transaction_files

        credit_card_number             ipv4 state
0           30213196611688  192.168.216.212    AZ
1            4938684086769    172.29.189.27    CA
2          213128820373753   172.22.174.184    AR
3         3554681727155351    172.24.27.121    ID
4            4339158798023     10.87.17.223    SC
...                    ...              ...   ...
499995    4407827161521023    192.168.92.89    NM
499996    4797462133093618    10.228.168.20    WI
499997    3595014020561169    172.21.190.37    RI
499998      30416095371458   192.168.68.115    MO
499999    3511034071627371     172.22.36.17    NV

[500000 rows x 3 columns]

#### Sanity check that the files loaded properly and the dataframe is of the correct size 
Also reset the index to show it as one complete file instead of two files each of size 250000 entries.

In [155]:
len(transaction_files) # Should be 500,000

500000

In [156]:
# transaction_files.drop_duplicates()

In [157]:
def get_prefix_column(transaction_files):
    numbers = transaction_files["credit_card_number"]
    start_nums = []
    for index, number in enumerate(numbers):
        str_num = str(number)
        strt_val = list(filter(str_num.startswith, credit_cards)) 
        start_nums.append(strt_val)
    start_vals = list(chain(*start_nums)) 
    start_vals = [int(i) for i in start_vals]
    return start_vals

start_vals = get_prefix_column(transaction_files)
start_vals

[4,
 2131,
 35,
 4,
 34,
 1800,
 305,
 4,
 2131,
 36,
 4,
 35,
 4,
 4,
 2131,
 35,
 1800,
 51,
 35,
 35,
 4,
 35,
 301,
 6011,
 34,
 4,
 36,
 35,
 4,
 6011,
 4,
 2131,
 2131,
 4,
 65,
 4,
 37,
 5020,
 4,
 34,
 4,
 56,
 51,
 65,
 35,
 35,
 35,
 35,
 35,
 65,
 2131,
 65,
 4,
 35,
 1800,
 65,
 1800,
 4,
 4,
 4,
 4,
 35,
 6011,
 305,
 35,
 4,
 35,
 37,
 300,
 4,
 4,
 34,
 4,
 4,
 35,
 300,
 51,
 35,
 4,
 1800,
 4,
 35,
 4,
 4,
 4,
 4,
 300,
 1800,
 6011,
 35,
 35,
 4,
 4,
 35,
 35,
 304,
 6011,
 4,
 55,
 6011,
 1800,
 4,
 4,
 51,
 35,
 35,
 304,
 4,
 37,
 38,
 6011,
 35,
 4,
 4,
 4,
 37,
 4,
 35,
 4,
 35,
 35,
 2131,
 6011,
 35,
 65,
 4,
 34,
 35,
 35,
 4,
 35,
 65,
 51,
 4,
 2131,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 300,
 6011,
 1800,
 4,
 1800,
 4,
 38,
 4,
 56,
 65,
 4,
 4,
 35,
 35,
 4,
 4,
 4,
 4,
 35,
 35,
 35,
 6011,
 35,
 1800,
 1800,
 52,
 4,
 35,
 4,
 4,
 1800,
 36,
 65,
 4,
 35,
 5038,
 4,
 35,
 4,
 4,
 34,
 6011,
 35,
 1800,
 300,
 4,
 4,
 4,
 37,
 4,
 4,
 305,
 4,
 56,
 4,
 35,
 52,
 35,
 5020,
 4,
 4,
 35,
 6011,
 4,
 35,
 4,
 35,
 4,
 4,
 35,
 52,
 2131,
 300,
 35,
 4,
 222,
 4,
 4,
 4,
 55,
 4,
 5020,
 35,
 4,
 1800,
 36,
 2131,
 37,
 4,
 34,
 4,
 6011,
 1800,
 4,
 1800,
 4,
 56,
 4,
 35,
 34,
 4,
 4,
 35,
 37,
 4,
 35,
 35,
 4,
 36,
 4,
 4,
 4,
 35,
 4,
 52,
 4,
 35,
 4,
 55,
 35,
 35,
 4,
 4,
 4,
 4,
 35,
 4,
 65,
 37,
 6011,
 4,
 2131,
 35,
 4,
 1800,
 35,
 1800,
 65,
 4,
 4,
 4,
 54,
 222,
 4,
 4,
 4,
 300,
 35,
 56,
 4,
 35,
 1800,
 35,
 37,
 4,
 4,
 55,
 304,
 65,
 304,
 222,
 4,
 4,
 222,
 4,
 35,
 2131,
 2131,
 4,
 5038,
 37,
 4,
 4,
 65,
 65,
 4,
 4,
 35,
 301,
 4,
 300,
 4,
 4,
 4,
 65,
 34,
 4,
 35,
 2131,
 4,
 52,
 4,
 51,
 4,
 4,
 35,
 4,
 35,
 35,
 4,
 35,
 65,
 304,
 35,
 52,
 300,
 4,
 35,
 55,
 4,
 35,
 5038,
 305,
 4,
 4,
 4,
 1800,
 4,
 4,
 4,
 4,
 4,
 35,
 4,
 4,
 65,
 35,
 305,
 38,
 35,
 35,
 4,
 4,
 4,
 6011,
 4,
 4,
 35,
 4,
 35,
 1800,
 4,
 65,
 304,
 34,
 4,
 6011,
 4,
 35,
 4,
 65,
 35,
 4,
 4,
 4,
 4,
 4,
 35,
 4,
 65,
 2131,
 5018,
 35,
 35,
 6011,
 4,
 4,
 4,
 222,
 35,
 305,
 4,
 35,
 34,
 305,
 5018,
 1800,
 35,
 1800,
 4,
 4,
 52,
 4,
 35,
 37,
 4,
 65,
 56,
 4,
 37,
 4,
 35,
 34,
 4,
 34,
 300,
 34,
 4,
 4,
 4,
 35,
 35,
 35,
 65,
 4,
 1800,
 1800,
 4,
 4,
 2131,
 35,
 222,
 37,
 4,
 35,
 35,
 35,
 51,
 4,
 4,
 65,
 37,
 38,
 35,
 2131,
 51,
 4,
 35,
 304,
 35,
 37,
 4,
 4,
 54,
 4,
 4,
 34,
 35,
 1800,
 4,
 35,
 300,
 304,
 65,
 4,
 4,
 4,
 35,
 4,
 34,
 222,
 4,
 4,
 35,
 4,
 56,
 35,
 4,
 51,
 34,
 4,
 35,
 52,
 38,
 4,
 4,
 4,
 4,
 35,
 4,
 4,
 4,
 4,
 4,
 1800,
 4,
 4,
 4,
 37,
 1800,
 6011,
 35,
 6011,
 2131,
 4,
 38,
 37,
 65,
 35,
 2131,
 35,
 35,
 35,
 4,
 1800,
 4,
 65,
 37,
 4,
 4,
 65,
 2131,
 35,
 35,
 4,
 55,
 4,
 6011,
 35,
 4,
 35,
 4,
 4,
 35,
 38,
 4,
 65,
 65,
 37,
 4,
 65,
 4,
 4,
 4,
 4,
 35,
 65,
 4,
 4,
 4,
 6011,
 2131,
 35,
 4,
 37,
 37,
 35,
 4,
 300,
 4,
 5018,
 65,
 65,
 5018,
 4,
 222,
 35,
 35,
 304,
 2131,
 35,
 54,
 4,
 35,
 300,
 38,
 37,
 1800,
 4,
 4,
 51,
 5018,
 1800,
 4,
 38,
 4,
 35,
 35,
 4,
 4,
 1800,
 37,
 52,
 35,
 35,
 35,
 34,
 4,
 5018,
 4,
 35,
 4,
 4,
 4,
 35,
 4,
 4,
 65,
 4,
 35,
 35,
 4,
 56,
 37,
 4,
 1800,
 4,
 222,
 2131,
 4,
 4,
 2131,
 4,
 34,
 6011,
 34,
 4,
 65,
 2131,
 5038,
 35,
 37,
 1800,
 1800,
 5038,
 35,
 4,
 1800,
 2131,
 305,
 35,
 35,
 4,
 4,
 300,
 4,
 4,
 2131,
 222,
 35,
 4,
 52,
 4,
 4,
 34,
 4,
 5020,
 2131,
 34,
 4,
 35,
 4,
 34,
 35,
 4,
 35,
 4,
 2131,
 4,
 4,
 35,
 4,
 34,
 4,
 4,
 35,
 35,
 37,
 35,
 34,
 4,
 4,
 4,
 4,
 65,
 35,
 35,
 4,
 35,
 37,
 35,
 4,
 55,
 6011,
 4,
 304,
 4,
 1800,
 6011,
 34,
 2131,
 55,
 4,
 1800,
 55,
 37,
 4,
 65,
 35,
 4,
 4,
 65,
 4,
 55,
 4,
 35,
 4,
 4,
 4,
 35,
 34,
 2131,
 51,
 4,
 4,
 4,
 4,
 1800,
 4,
 34,
 35,
 2131,
 4,
 4,
 35,
 4,
 4,
 51,
 4,
 35,
 55,
 222,
 4,
 4,
 35,
 4,
 1800,
 51,
 4,
 2131,
 4,
 55,
 1800,
 36,
 4,
 6011,
 1800,
 34,
 305,
 35,
 6011,
 5018,
 4,
 35,
 304,
 4,
 4,
 4,
 2131,
 1800,
 38,
 4,
 35,
 4,
 301,
 5018,
 6011,
 4,
 35,
 4,
 4,
 54,
 4,
 222,
 65,
 35,
 35,
 65,
 6011,
 4,
 37,
 37,
 35,
 4,
 1800,
 4,
 4,
 4,
 5018,
 4,
 6011,
 4,
 300,
 4,
 4,
 65,
 35,
 1800,
 6011,
 4,
 4,
 35,
 4,
 51,
 4,
 1800,
 1800,
 4,
 4,
 35,
 4,
 4,
 4,
 35,
 4,
 52,
 55,
 4,
 5018,
 35,
 35,
 4,
 1800,
 4,
 4,
 6011,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 65,
 35,
 2131,
 65,
 35,
 1800,
 35,
 222,
 36,
 222,
 4,
 4,
 300,
 4,
 35,
 35,
 4,
 1800,
 4,
 4,
 37,
 4,
 35,
 37,
 4,
 1800,
 2131,
 35,
 4,
 222,
 34,
 4,
 4,
 35,
 5038,
 4,
 51,
 35,
 2131,
 4,
 55,
 55,
 4,
 4,
 4,
 4,
 6011,
 1800,
 4,
 55,
 35,
 35,
 4,
 55,
 5020,
 1800,
 34,
 301,
 6011,
 65,
 34,
 4,
 34,
 1800,
 4,
 4,
 35,
 222,
 4,
 2131,
 6011,
 4,
 4,
 35,
 35,
 5020,
 35,
 4,
 4,
 37,
 1800,
 4,
 35,
 4,
 35,
 4,
 65,
 35,
 4,
 34,
 35,
 4,
 4,
 6011,
 52,
 36,
 4,
 222,
 6011,
 35,
 34,
 4,
 35,
 4,
 4,
 65,
 4,
 4,
 2131,
 35,
 35,
 4,
 1800,
 2131,
 4,
 2131,
 4,
 38,
 4,
 1800,
 6011,
 6011,
 34,
 4,
 4,
 35,
 51,
 52,
 55,
 34,
 4,
 301,
 5038,
 4,
 6011,
 ...]

In [158]:
def filter_transactions(transaction_files, credit_cards, start_vals):
    """
    Takes in a pandas dataframe and a list of credit card numbers 
    and filters the dataframe to create a new column 
    based on if the credit_card_number starts with one of the 
    valid prefix vendor values 
    """
    numbers = transaction_files["credit_card_number"]
    str_nums = []
    valid_nums = []
    for index, number in enumerate(numbers):
        str_num = str(number)
        result = list(filter(str_num.startswith, credit_cards)) != [] # if the element startswith a credit_cardscredit_card_numbers value keep it, otherwise, remove 
        valid_nums.append(result) # this a boolean list of 'True' or 'False' if the card matches the valid vendor numbers 
        str_nums.append(str_num) # This is a list of all the transaction values as strings 
    results = pd.DataFrame({'credit_card_number':str_nums,
                            'ipv4':transaction_files['ipv4'],
                            'state':transaction_files['state'],
                            'valid_vendor':valid_nums})
    valid_results = results[results['valid_vendor'] == True]
    valid_results = valid_results.assign(start_val = start_vals)
    valid_results = valid_results.reset_index(drop=True)
    
    fraud_results = results[results['valid_vendor'] == False]
    fraud_results = fraud_results.reset_index(drop=True)
    return results, numbers, valid_results, fraud_results


results, numbers, valid_results, fraud_results = filter_transactions(transaction_files, credit_cards, start_vals)

In [181]:
fraud_results

      credit_card_number             ipv4 state  valid_vendor
0         30213196611688  192.168.216.212    AZ         False
1       5393825843017645  192.168.211.229    OK         False
2           580022764071   172.27.166.188    FL         False
3         30334856785990    10.15.215.220    SD         False
4       5383983915126000   192.168.30.242    ID         False
...                  ...              ...   ...           ...
46370       630449879927   172.21.198.100    OR         False
46371        60417923400   10.234.170.145    MI         False
46372       676344351470    10.141.151.33    KY         False
46373       676270429225     10.34.224.82    NY         False
46374   5388312383810264  192.168.174.226    AR         False

[46375 rows x 4 columns]

In [180]:
valid_results

       credit_card_number            ipv4 state  valid_vendor  start_val
0           4938684086769   172.29.189.27    CA          True          4
1         213128820373753  172.22.174.184    AR          True       2131
2        3554681727155351   172.24.27.121    ID          True         35
3           4339158798023    10.87.17.223    SC          True          4
4         341265497366150    10.134.18.19    AR          True         34
...                   ...             ...   ...           ...        ...
453620   4407827161521023   192.168.92.89    NM          True          4
453621   4797462133093618   10.228.168.20    WI          True          4
453622   3595014020561169   172.21.190.37    RI          True         35
453623     30416095371458  192.168.68.115    MO          True        304
453624   3511034071627371    172.22.36.17    NV          True         35

[453625 rows x 5 columns]

## Part II

- Candidate should assume that going forward, only the sanitized dataset should be used.

### - Find in the sanitized dataset if it contains fraudulent transactions (using the data from loading fraud.zip) and report their number.

In [185]:
def filter_fraud_in_transactions(fraud_dataset, valid_results):
    """
    From the santitized results dataframe 
    filter the DF to display only the numbers
    that are present in the fraud.zip file 
    """
#     This just produces a list of all the fraud credit_cards that exist in the sanitized dataframe
#     fraud_transactions = list(set(results_filtered['credit_card_number']).intersection(fraud_dataset))

#     A better way is to produce the whole dataframe and other columns of the credit_cardscredit_card_numbers in the sanitized
#     dataframe that also exist in fraud.zip 
    fraud_transactions = valid_results[valid_results['credit_card_number'].isin(fraud_dataset)].drop_duplicates()
    fraud_transactions = fraud_transactions.reset_index(drop=True)
    fraud_transactions['valid_card'] = False
    valid_transactions = valid_results.drop(fraud_transactions.index)
    valid_transactions['valid_card'] = True
    return valid_transactions, fraud_transactions

In [186]:
valid_transactions, fraud_transactions = filter_fraud_in_transactions(fraud_dataset, valid_results)
fraud_transactions

,credit_card_number,ipv4,state,valid_vendor,start_val,valid_card
0,4013901026491,172.23.51.228,NV,True,4,False
1,5128258542512744,10.65.191.187,NJ,True,51,False
2,4673436419900968,10.68.149.54,ND,True,4,False
3,6011531195808785,192.168.216.58,MA,True,6011,False
4,3518829214836604,10.55.8.196,AK,True,35,False
...,...,...,...,...,...,...
922,30443556780787,10.155.131.204,IL,True,304,False
923,375712024591957,192.168.99.32,MS,True,37,False
924,3521881287540980,192.168.248.225,LA,True,35,False
925,3574961180083290,172.17.123.72,ND,True,35,False
926,6551465802130091,192.168.17.172,PA,True,65,False

In [182]:
valid_transactions

,credit_card_number,ipv4,state,valid_vendor,start_val,valid_card
927,341699761913307,172.25.148.118,IN,True,34,True
928,180011131174905,192.168.38.179,PA,True,1800,True
929,4808375377167,172.16.48.188,GA,True,4,True
930,4864308841346749,10.145.199.199,LA,True,4,True
931,3541314305340585,192.168.117.215,TX,True,35,True
...,...,...,...,...,...,...
453620,4407827161521023,192.168.92.89,NM,True,4,True
453621,4797462133093618,10.228.168.20,WI,True,4,True
453622,3595014020561169,172.21.190.37,RI,True,35,True
453623,30416095371458,192.168.68.115,MO,True,304,True
453624,3511034071627371,172.22.36.17,NV,True,35,True

In [53]:
model_data = valid_transactions.append(fraud_transactions)
# model_data.to_csv('modeling_data.csv')

In [163]:
print('Within the sanitized dataframe, there were', len(fraud_transactions), 'instances of fraudulent transactions.')

Within the sanitized dataframe, there were 927 instances of fraudulent transactions.

### - Create a report of the number of fraudulent transactions per state.

In [164]:
# - Create a report of the number of fraudulent transactions per state.
### MAY WANT TO CONSIDER RETURNING A JSON FORMAT FILE 

def get_fraud_by_state(fraud_transactions):
    """
    Takes in a dataframe (fraud_transactions within valid_results)
    performs a group by on state,
    and returns a json serialized list of the count of
    transactions by state as objects
    """
    fraud_groupby_state = fraud_transactions.groupby('state').count()
    fraud_by_state = fraud_groupby_state[['credit_card_number']]
    fraud_by_state = fraud_by_state.rename(columns={'credit_card_number': 'count'})

    return fraud_by_state
fraud_by_state = get_fraud_by_state(fraud_transactions)

In [56]:
# print(fraud_by_state.sum())
# fraud_by_state[0:10]

### - Create a report of the number of fraudulent transactions per card vendor, e.g., maestro => 45, amex => 78, etc..

In [57]:
def get_vendors_val_key(item):
    for key, val in vendors.items():
        if item in val:
            return key

In [58]:
# - Create a report of the number of fraudulent transactions per vendor.
### MAY WANT TO CONSIDER RETURNING A JSON FORMAT FILE 

def get_fraud_by_vendor(fraud_transactions):
    """
    Takes in an dataframe performs a group by on state,
    and returns a json serialized list of the count of
    transactions by state as objects
    """
    fraud_transactions['start_val']= fraud_transactions['start_val'].map(str)
    fraud_transactions['name'] = fraud_transactions.start_val.map(get_vendors_val_key)
    fraud_groupby_vendor = fraud_transactions.groupby('name').count()
    fraud_by_vendor = fraud_groupby_vendor[['credit_card_number']]
    fraud_by_vendor = fraud_by_vendor.rename(columns={'credit_card_number': 'count'})
    return fraud_transactions, fraud_by_vendor

In [187]:
fraud_transactions

,credit_card_number,ipv4,state,valid_vendor,start_val,valid_card
0,4013901026491,172.23.51.228,NV,True,4,False
1,5128258542512744,10.65.191.187,NJ,True,51,False
2,4673436419900968,10.68.149.54,ND,True,4,False
3,6011531195808785,192.168.216.58,MA,True,6011,False
4,3518829214836604,10.55.8.196,AK,True,35,False
...,...,...,...,...,...,...
922,30443556780787,10.155.131.204,IL,True,304,False
923,375712024591957,192.168.99.32,MS,True,37,False
924,3521881287540980,192.168.248.225,LA,True,35,False
925,3574961180083290,172.17.123.72,ND,True,35,False
926,6551465802130091,192.168.17.172,PA,True,65,False

In [60]:
fraud_transactions, fraud_by_vendor = get_fraud_by_vendor(fraud_transactions)
print(fraud_by_vendor.sum())
# fraud_by_vendor

count    927
dtype: int64

### - Create a dataset of 3 columns and save in both JSON and in a binary fileformat that you believe it's suitable for BI analysis:
####   - column 1: masked credit card: replace 9 last digits of the credit card with `*`
####   - column 2: ip address
####   - column 3: state
####   - column 4: sum of number of byte of (column 1 + column 2 + column 3)

In [61]:
def masked_credit_cards(valid_results):
    dicts = []
    for index, row in enumerate(valid_results['credit_card_number']):
        full_card_number = valid_results['credit_card_number'].astype(str).iloc[index][:-9]
        masked = full_card_number + '*' * 9
        ipv4_value = valid_results['ipv4'][index]
        state_value = valid_results['state'][index]
        byte_number = sys.getsizeof(masked + ipv4_value + state_value)
        dict = {'credit_card_number' : masked,
                 'ipv4' : ipv4_value,
                 'state' : state_value,
                 'bytes' : byte_number}
        dicts.append(dict)
    df_dicts = pd.DataFrame(dicts) 
    return df_dicts

In [ ]:
# tmp = fraud_transactions[0:10]

In [63]:
# %%time
# final_df = masked_credit_cards(valid_results)
# final_df

CPU times: user 52min 23s, sys: 3.8 s, total: 52min 27s
Wall time: 1h 10min 29s

       credit_card_number            ipv4 state  bytes
0           4938*********   172.29.189.27    CA     77
1         213128*********  172.22.174.184    AR     80
2        3554681*********   172.24.27.121    ID     80
3           4339*********    10.87.17.223    SC     76
4         341265*********    10.134.18.19    AR     78
...                   ...             ...   ...    ...
453620   4407827*********   192.168.92.89    NM     80
453621   4797462*********   10.228.168.20    WI     80
453622   3595014*********   172.21.190.37    RI     80
453623     30416*********  192.168.68.115    MO     79
453624   3511034*********    172.22.36.17    NV     79

[453625 rows x 4 columns]

In [66]:
final_df = masked_credit_cards(valid_results)
final_df

       credit_card_number            ipv4 state  bytes
0           4938*********   172.29.189.27    CA     77
1         213128*********  172.22.174.184    AR     80
2        3554681*********   172.24.27.121    ID     80
3           4339*********    10.87.17.223    SC     76
4         341265*********    10.134.18.19    AR     78
...                   ...             ...   ...    ...
453620   4407827*********   192.168.92.89    NM     80
453621   4797462*********   10.228.168.20    WI     80
453622   3595014*********   172.21.190.37    RI     80
453623     30416*********  192.168.68.115    MO     79
453624   3511034*********    172.22.36.17    NV     79

[453625 rows x 4 columns]

In [64]:
def make_json_file(final_df):
    directory = 'results/'
    sample = final_df.to_dict()
    with open(directory + "final_df.json", "w") as outfile:
        json.dump(sample, outfile)

In [65]:
make_json_file(final_df)

In [188]:
def make_binary_file(final_df):
    directory = 'results/'
    with open(directory + 'sample', 'wb') as outfile:
        outfile.write(bytes(final_df, encoding='utf8'))

In [189]:
make_binary_file(final_df)

TypeError: encoding without a string argument

In [ ]:
def generate_json_file(data, file):
    directory = 'results/'
    with open(directory + file + '.json', 'w') as f:
        f.write(data)

def generate_binary_file(data, file):
    directory = 'results/'
    with open(directory + file, 'wb') as f:
        f.write(bytes(data, encoding='utf8'))

### Part IV 

#### - Create a ML model that you think is useful using the datasets provided (raw or/and sanitized)
#### - Provide insight/metrics on how to validate if the model is accurate.

In [ ]:
# frauddata = ('/Users/sarahkaunitz/Documents/deloitte/AI_Engineer/code_challenge/datasets/modeling_data.csv')
# fraud_data = pd.read_csv(frauddata)
# fraud_data.drop(['Unnamed: 0'], axis=1)