## Part 0

### Setup a Docker image: install a Data Manipulation framework (PySpark or Pandas or any other that will help answer the challenge) and anything else you need. Include the Dockerfile in the submission.

In [1]:
import csv 
import json
import os 
import pandas as pd 
import sys 
from itertools import chain

## Part I

#### Mapping of credit_card_vendor to list of card prefix

In [2]:
# prefix_vendor = list of credit first digits that are representing this vendor.
maestro = ['5018', '5020', '5038', '56']
mastercard = ['51', '52', '54', '55', '222']
visa = ['4']
amex = ['34', '37']
discover = ['6011', '65']
diners = ['300', '301', '304', '305', '36', '38']
jcb16 = ['35']
jcb15 = ['2131', '1800']

In [3]:
# Make dictionary of vendors 
vendors = {'maestro' : maestro,
           'mastercard' : mastercard,
           'visa' : visa,
           'amex' : amex,
           'discover' : discover,
           'diners' : diners,
           'jcb16' : jcb16,
           'jcb15' : jcb15}

In [4]:
vendors

{'maestro': ['5018', '5020', '5038', '56'],
 'mastercard': ['51', '52', '54', '55', '222'],
 'visa': ['4'],
 'amex': ['34', '37'],
 'discover': ['6011', '65'],
 'diners': ['300', '301', '304', '305', '36', '38'],
 'jcb16': ['35'],
 'jcb15': ['2131', '1800']}

In [5]:
# Map all credit first digits to the vendor to a flattened list 
credit_cards = maestro + mastercard + visa + amex + discover + diners + jcb16 + jcb15

In [6]:
credit_cards

['5018',
 '5020',
 '5038',
 '56',
 '51',
 '52',
 '54',
 '55',
 '222',
 '4',
 '34',
 '37',
 '6011',
 '65',
 '300',
 '301',
 '304',
 '305',
 '36',
 '38',
 '35',
 '2131',
 '1800']

### Import, load, and return the fraud file

In [7]:
fraud_file = ('/Users/sarahkaunitz/Documents/deloitte/AI_Engineer/code_challenge/datasets/fraud')

In [8]:
def get_fraud_file(file):
    '''
    NEED TO ADD DOCSTRING
    TAKES IN A FILE, PARSES OUT RELEVANT CC INFO
    RETURNS LIST OF CREDIT CARD NUMBERS
    '''
    with open(file) as f:
        # Remember, not every row has a 'state' value
        # Only a few rows do
        # From this file we mainly care about the credit card number
        fraud_data = csv.reader(f)
        for index, row in enumerate(fraud_data):
            if len(row) > 2:
                state = row[2]# row[2] State (not always there)
            else:
                # Insert NULL for state
                state = None
            fraud_dataset = [x[0] for x in fraud_data]
    
    return fraud_dataset

In [9]:
fraud_dataset = get_fraud_file(fraud_file)

In [10]:
len(fraud_dataset)

1011

# Part I

### Sanitize data of both transaction-001.zip and transaction-002.zip by removing transactions where column `credit_card_number` is not part of the previous provided list. For example, a credit card that starts with `98` is not a valid card and should be discarded from the sanitized dataset.

In [11]:
transaction001 = ('/Users/sarahkaunitz/Documents/deloitte/AI_Engineer/code_challenge/datasets/transaction-001')
transaction002 = ('/Users/sarahkaunitz/Documents/deloitte/AI_Engineer/code_challenge/datasets/transaction-002')

In [12]:
def load_transaction_files(file1, file2):
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)
    transaction_files = df1.append(df2)
    transaction_files = transaction_files.reset_index(drop=True)
    return transaction_files
transaction_files = load_transaction_files(transaction001, transaction002)
transaction_files

        credit_card_number             ipv4 state
0           30213196611688  192.168.216.212    AZ
1            4938684086769    172.29.189.27    CA
2          213128820373753   172.22.174.184    AR
3         3554681727155351    172.24.27.121    ID
4            4339158798023     10.87.17.223    SC
...                    ...              ...   ...
499995    4407827161521023    192.168.92.89    NM
499996    4797462133093618    10.228.168.20    WI
499997    3595014020561169    172.21.190.37    RI
499998      30416095371458   192.168.68.115    MO
499999    3511034071627371     172.22.36.17    NV

[500000 rows x 3 columns]

#### Sanity check that the files loaded properly and the dataframe is of the correct size 
Also reset the index to show it as one complete file instead of two files each of size 250000 entries.

In [13]:
len(transaction_files) # Should be 500,000

500000

In [14]:
transaction_files.drop_duplicates()

        credit_card_number             ipv4 state
0           30213196611688  192.168.216.212    AZ
1            4938684086769    172.29.189.27    CA
2          213128820373753   172.22.174.184    AR
3         3554681727155351    172.24.27.121    ID
4            4339158798023     10.87.17.223    SC
...                    ...              ...   ...
499995    4407827161521023    192.168.92.89    NM
499996    4797462133093618    10.228.168.20    WI
499997    3595014020561169    172.21.190.37    RI
499998      30416095371458   192.168.68.115    MO
499999    3511034071627371     172.22.36.17    NV

[500000 rows x 3 columns]

In [15]:
def get_prefix_column(transaction_files):
    numbers = transaction_files["credit_card_number"]
    start_nums = []
    for index, number in enumerate(numbers):
        str_num = str(number)
        strt_val = list(filter(str_num.startswith, credit_cards)) 
        start_nums.append(strt_val)
    start_vals = list(chain(*start_nums)) 
    start_vals = [int(i) for i in start_vals]
    return start_vals

In [16]:
start_vals = get_prefix_column(transaction_files)
start_vals[0:10]

[4, 2131, 35, 4, 34, 1800, 305, 4, 2131, 36]

In [17]:
def filter_transactions(transaction_files, credit_cards, start_vals):
    """
    Takes in a pandas dataframe and a list of credit card numbers 
    and filters the dataframe to create a new column 
    based on if the credit_card_number starts with one of the 
    valid prefix vendor values 
    """
    numbers = transaction_files["credit_card_number"]
    str_nums = []
    valid_nums = []
    for index, number in enumerate(numbers):
        str_num = str(number)
        result = list(filter(str_num.startswith, credit_cards)) != [] # if the element startswith a credit_cardscredit_card_numbers value keep it, otherwise, remove 
        valid_nums.append(result) # this a boolean list of 'True' or 'False' if the card matches the valid vendor numbers 
        str_nums.append(str_num) # This is a list of all the transaction values as strings 
    results = pd.DataFrame({'credit_card_number':str_nums,
                            'ipv4':transaction_files['ipv4'],
                            'state':transaction_files['state'],
                            'valid_vendor':valid_nums})
    valid_results = results[results['valid_vendor'] == True]
    valid_results.loc[:,"start_val"] = start_vals    
    valid_results = valid_results.reset_index(drop=True)
    
    fraud_results = results[results['valid_vendor'] == False]
    fraud_results = fraud_results.reset_index(drop=True)
    return results, numbers, valid_results, fraud_results


results, numbers, valid_results, fraud_results = filter_transactions(transaction_files, credit_cards, start_vals)

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [18]:
valid_results

       credit_card_number            ipv4 state  valid_vendor  start_val
0           4938684086769   172.29.189.27    CA          True          4
1         213128820373753  172.22.174.184    AR          True       2131
2        3554681727155351   172.24.27.121    ID          True         35
3           4339158798023    10.87.17.223    SC          True          4
4         341265497366150    10.134.18.19    AR          True         34
...                   ...             ...   ...           ...        ...
453620   4407827161521023   192.168.92.89    NM          True          4
453621   4797462133093618   10.228.168.20    WI          True          4
453622   3595014020561169   172.21.190.37    RI          True         35
453623     30416095371458  192.168.68.115    MO          True        304
453624   3511034071627371    172.22.36.17    NV          True         35

[453625 rows x 5 columns]

In [19]:
fraud_results

      credit_card_number             ipv4 state  valid_vendor
0         30213196611688  192.168.216.212    AZ         False
1       5393825843017645  192.168.211.229    OK         False
2           580022764071   172.27.166.188    FL         False
3         30334856785990    10.15.215.220    SD         False
4       5383983915126000   192.168.30.242    ID         False
...                  ...              ...   ...           ...
46370       630449879927   172.21.198.100    OR         False
46371        60417923400   10.234.170.145    MI         False
46372       676344351470    10.141.151.33    KY         False
46373       676270429225     10.34.224.82    NY         False
46374   5388312383810264  192.168.174.226    AR         False

[46375 rows x 4 columns]

## Part II

- Candidate should assume that going forward, only the sanitized dataset should be used.

### - Find in the sanitized dataset if it contains fraudulent transactions (using the data from loading fraud.zip) and report their number.

In [20]:
def filter_fraud_in_transactions(fraud_dataset, valid_results):
    """
    From the santitized results dataframe 
    filter the DF to display only the numbers
    that are present in the fraud.zip file 
    """
#     This just produces a list of all the fraud credit_cards that exist in the sanitized dataframe
#     fraud_transactions = list(set(results_filtered['credit_card_number']).intersection(fraud_dataset))

#     A better way is to produce the whole dataframe and other columns of the credit_cardscredit_card_numbers in the sanitized
#     dataframe that also exist in fraud.zip 
    fraud_transactions = valid_results[valid_results['credit_card_number'].isin(fraud_dataset)].drop_duplicates()
    fraud_transactions = fraud_transactions.reset_index(drop=True)
    fraud_transactions['valid_card'] = False
    valid_transactions = valid_results.drop(fraud_transactions.index)
    valid_transactions['valid_card'] = True
    return valid_transactions, fraud_transactions

In [21]:
valid_transactions, fraud_transactions = filter_fraud_in_transactions(fraud_dataset, valid_results)

In [22]:
model_data = valid_transactions.append(fraud_transactions)
# model_data.to_csv('modeling_data.csv')

In [23]:
print('Within the sanitized dataframe, there were', len(fraud_transactions), 'instances of fraudulent transactions.')

Within the sanitized dataframe, there were 927 instances of fraudulent transactions.

### - Create a report of the number of fraudulent transactions per state.

In [24]:
# - Create a report of the number of fraudulent transactions per state.
### MAY WANT TO CONSIDER RETURNING A JSON FORMAT FILE 

def get_fraud_by_state(fraud_transactions):
    """
    Takes in a dataframe (fraud_transactions within valid_results)
    performs a group by on state,
    and returns a json serialized list of the count of
    transactions by state as objects
    """
    fraud_groupby_state = fraud_transactions.groupby('state').count()
    fraud_by_state = fraud_groupby_state[['credit_card_number']]
    fraud_by_state = fraud_by_state.rename(columns={'credit_card_number': 'count'})

    return fraud_by_state
fraud_by_state = get_fraud_by_state(fraud_transactions)

In [25]:
print(fraud_by_state.sum())
fraud_by_state[0:10]

count    927
dtype: int64

       count
state
AK        26
AL        18
AR        16
AZ        10
CA        17
CO        13
CT        16
DC        20
DE        20
FL        16

### - Create a report of the number of fraudulent transactions per card vendor, e.g., maestro => 45, amex => 78, etc..

In [26]:
def get_vendors_val_key(item):
    for key, val in vendors.items():
        if item in val:
            return key

In [27]:
# - Create a report of the number of fraudulent transactions per vendor.
### MAY WANT TO CONSIDER RETURNING A JSON FORMAT FILE 

def get_fraud_by_vendor(fraud_transactions):
    """
    Takes in an dataframe performs a group by on state,
    and returns a json serialized list of the count of
    transactions by state as objects
    """
    fraud_transactions['start_val']= fraud_transactions['start_val'].map(str)
    fraud_transactions['name'] = fraud_transactions.start_val.map(get_vendors_val_key)
    fraud_groupby_vendor = fraud_transactions.groupby('name').count()
    fraud_by_vendor = fraud_groupby_vendor[['credit_card_number']]
    fraud_by_vendor = fraud_by_vendor.rename(columns={'credit_card_number': 'count'})
    return fraud_transactions, fraud_by_vendor

In [28]:
fraud_transactions

,credit_card_number,ipv4,state,valid_vendor,start_val,valid_card
0,4013901026491,172.23.51.228,NV,True,4,False
1,5128258542512744,10.65.191.187,NJ,True,51,False
2,4673436419900968,10.68.149.54,ND,True,4,False
3,6011531195808785,192.168.216.58,MA,True,6011,False
4,3518829214836604,10.55.8.196,AK,True,35,False
...,...,...,...,...,...,...
922,30443556780787,10.155.131.204,IL,True,304,False
923,375712024591957,192.168.99.32,MS,True,37,False
924,3521881287540980,192.168.248.225,LA,True,35,False
925,3574961180083290,172.17.123.72,ND,True,35,False
926,6551465802130091,192.168.17.172,PA,True,65,False

In [29]:
fraud_transactions, fraud_by_vendor = get_fraud_by_vendor(fraud_transactions)
print(fraud_by_vendor.sum())
fraud_by_vendor

count    927
dtype: int64

            count
name
amex           84
diners         54
discover       99
jcb15          74
jcb16         185
maestro        24
mastercard     55
visa          352

### - Create a dataset of 3 columns and save in both JSON and in a binary fileformat that you believe it's suitable for BI analysis:
####   - column 1: masked credit card: replace 9 last digits of the credit card with `*`
####   - column 2: ip address
####   - column 3: state
####   - column 4: sum of number of byte of (column 1 + column 2 + column 3)

In [30]:
def masked_credit_cards(valid_results):
    dicts = []
    for index, row in enumerate(valid_results['credit_card_number']):
        full_card_number = valid_results['credit_card_number'].astype(str).iloc[index][:-9]
        masked = full_card_number + '*' * 9
        ipv4_value = valid_results['ipv4'][index]
        state_value = valid_results['state'][index]
        byte_number = sys.getsizeof(masked + ipv4_value + state_value)
        dict = {'credit_card_number' : masked,
                 'ipv4' : ipv4_value,
                 'state' : state_value,
                 'bytes' : byte_number}
        dicts.append(dict)
    df_dicts = pd.DataFrame(dicts) 
    return df_dicts

In [31]:
# %%time
# final_df = masked_credit_cards(fraud_results)
# final_df

In [32]:
# final_df.to_csv('valid_results.csv')

In [33]:
# def generate_json_report(final_df):
# #     final_df  = mask_credit_card_numbers(results_filtered)
#     return json.dumps(final_df)

In [34]:
# def write_report_to_json(report, file):
#     prefix = 'reports/'
#     with open(prefix + file + '.json', 'w') as f:
#         f.write(report)

# def write_report_to_binary(report, file):
#     prefix = 'reports/'
#     with open(prefix + file, 'wb') as f:
#         f.write(bytes(report, encoding='utf8'))

### Part IV 

#### - Create a ML model that you think is useful using the datasets provided (raw or/and sanitized)
#### - Provide insight/metrics on how to validate if the model is accurate.

In [35]:
frauddata = ('/Users/sarahkaunitz/Documents/deloitte/AI_Engineer/code_challenge/datasets/modeling_data.csv')
fraud_data = pd.read_csv(frauddata)
fraud_data.drop(['Unnamed: 0'], axis=1)

,credit_card_number,ipv4,state,valid_vendor,start_val,valid_card
0,341699761913307,172.25.148.118,IN,True,34,True
1,180011131174905,192.168.38.179,PA,True,1800,True
2,4808375377167,172.16.48.188,GA,True,4,True
3,4864308841346749,10.145.199.199,LA,True,4,True
4,3541314305340585,192.168.117.215,TX,True,35,True
...,...,...,...,...,...,...
453620,30443556780787,10.155.131.204,IL,True,304,False
453621,375712024591957,192.168.99.32,MS,True,37,False
453622,3521881287540980,192.168.248.225,LA,True,35,False
453623,3574961180083290,172.17.123.72,ND,True,35,False
453624,6551465802130091,192.168.17.172,PA,True,65,False